


@keyframes backgroundFadeInAndOut {
  0% {
    opacity: 1;
  }

  19% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  94% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  width: 100%;
  
}

.panel {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: white;
  height: 100%;
  min-width: 100%;
  text-align: center;
  display: table;
  margin: 0;
  background: #1c1c1c;
  padding: 0 0;
}

.panel .inner {
  display: table-cell;
  vertical-align: middle;
}

.background-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;

}

#back-one {
  background: url('https://image.shutterstock.com/image-photo/cracks-on-surface-blue-ice-600w-655427254.jpg') no-repeat center fixed;
  background-size: cover;
}

#back-two {
  background: url('https://image.shutterstock.com/image-photo/sunset-on-forest-lake-wooden-600w-115859893.jpg') no-repeat center fixed;
  background-size: cover;
}

#back-three {
  background: url('https://image.shutterstock.com/image-photo/autumn-foliage-fog-lake-morning-600w-464934158.jpg') no-repeat center fixed;
  background-size: cover;
}

#back-four {
  background: url('https://image.shutterstock.com/image-photo/blue-water-forest-lake-pine-260nw-534126301.jpg') no-repeat center fixed;
  background-size: cover;
}

#background-change div:nth-of-type(1) {
  animation-delay: 32s;
}

#background-change div:nth-of-type(2) {
  animation-delay: 24s;
}

#background-change div:nth-of-type(3) {
  animation-delay: 16s;
}

#background-change div:nth-of-type(4) {
  animation-delay: 8s;
}

#background-change div {
  animation-name: backgroundFadeInAndOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 32s;

}


.backgroundTop {
  animation-name: backgroundFadeInAndOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 40s;
  animation-direction: alternate;
}